* {
    margin: 0;
    padding: 0;
}

.first_info {
    padding: 32px 20px 0px 20px;
    font-size: 18px;
    // line-height: 30px;
}

.centralize_text {
    text-align: center;
}

.content_box {
    padding: 16px 20px 0px 20px;
}

.event_span {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.button_place {
    float: right;
    margin-left: 8px;
    margin-top: 8px;
}

.aprove_button {
    position: relative;
    background-color: #212121;
    color: white;
    height: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
    // box-shadow: 0px 2px 5px darkgrey;
    font-weight: bold;
}

.reprove_button {
    position: relative;
    background-color: white;
    border-color: #212121;
    color: #212121;
    height: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
    // box-shadow: 0px 2px 5px darkgrey;
    font-weight: bold;
}

.event_image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 24px 0 0 0;
}

.content_title {
    font-weight: bold;
    font-size: 24px;
}

.content_title_plus_padding {
    display: block;
    margin-top: 16px;
}

.bordered-box {
    padding: 8px 8px 8px 8px;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    border-radius: 3px;
    font-size: 18px;
    vertical-align: middle;
    line-height: 30px;
}

.button_wrapper {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    justify-content: center;
    margin-top: 16px;
}

.b1 {
    grid-column: 1/2;
    grid-row: 1/2;
    // align-content: center;
}

// .b2 {
//     grid-column: 2/3;
//     grid-row: 1/2;
// }

.b3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.second_aprove_button {
    display: block;
    position: relative;
    background-color: #212121;
    color: white;
    height: 35px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 17.5px;
    // box-shadow: 0px 2px 5px darkgrey;
    font-weight: bold;
}

.second_reprove_button {
    position: relative;
    background-color: white;
    border-color: #212121;
    color: #212121;
    height: 35px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 17.5px;
    // box-shadow: 0px 2px 5px darkgrey;
    font-weight: bold;
}

@media only screen and (min-width:769px) {

    .content_box {
        padding-bottom: 16px;
    }

    .image_div {
        margin: 0px 20px 16px 20px;
    }

    .centralize_text {
        text-align: left;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-content: center;
    }

    .box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box2 {
        margin-top: 8px;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .button_wrapper{
        display: none;
    }

}
