<mat-card>
  <div class="user_name">
    <span>{{ user.firstName }} {{ user.lastName }} </span>
  </div>
  <div class="name">
    <mat-form-field>
      <input matInput placeholder="FirstName" readonly="true" type="text" value="{{ user.firstName }}">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="LastName" readonly="true" type="text" value="{{ user.lastName }}">
    </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput placeholder="Email" readonly="true" type="text" value="{{ user.email }}">
  </mat-form-field>
</mat-card>
<mat-card>
  <div class="categorias">
    <span>Categorias Favoritas</span>
  </div>
  <mat-chip-list>
    <mat-chip *ngFor="let category of userCategories" (click)="updateCategory(category)">
      {{category.title}}
    </mat-chip>
  </mat-chip-list>

  <mat-form-field *ngIf="categories">
    <mat-label>Adicionar Categoria</mat-label>
    <mat-select>
      <ng-container *ngFor="let item of difCategories">
        <mat-option [value]="item.title" (click)="updateCategory(item)">
          {{item.title}}
        </mat-option>
      </ng-container>

    </mat-select>
  </mat-form-field>
</mat-card>