.fields { 
    display: block;
    margin: 0 auto;
    padding: 75px;
   
    
}


.eventType {
    display: inline-block;
    width: 100%;

} 

table {
    width: 100%;
  }

.deleteButton{
    float: right;
    
}

mat-icon {
    height: 15px;
    width: 15px;
    
    
    
}