<div class="home-header" fxLayout fxLayoutAlign="center center">

  <p class="home_title">Encontre um universo de eventos acadêmios com a Lunne</p>
  <mat-form-field fxFlex="40%" class="home_filter">
    <input matInput type="text" (keyup)="setFilteredItems($event.target.value)"
    placeholder="Pesquise por nome, tipo  ou assunto do evento">
  </mat-form-field>
</div>


<p class="home_subtitle" *ngIf="authenticated">Categorias de interesse</p>

<div class="swiper-container" *ngIf="authenticated">
  <swiper>
    <div class="swiper-slide" *ngFor="let item of favorited_items">
      <mat-card>
          <img src="http://placehold.it/400x300"
          class="md-card-image mat-card-lg-image"
          alt="image caption"
          [routerLink]="['/event', item._id]"
          />
          <div class="card-text">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.description |slice:0:50}}...</mat-card-subtitle>
          </div>
      </mat-card>
      <a href="#"></a>
    </div>
  </swiper>
  <div class="swiper-pagination"></div>
</div>

<p class="home_subtitle">Sugestões para você</p>

<div class="swiper-container">
  <swiper>
    <div class="swiper-slide" *ngFor="let item of items">
      <mat-card>
          <img src="http://placehold.it/400x300"
          class="md-card-image mat-card-lg-image"
          alt="image caption"
          [routerLink]="['/event', item.id]"
          />
          <div class="card-text">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.description | slice:0:50}}...</mat-card-subtitle>
          </div>
      </mat-card>
      <a href="#"></a>
    </div>
  </swiper>
  <div class="swiper-pagination"></div>

</div>
