<ng-template #general>
  <form [formGroup]="generalForm" [ngClass]="{
      'mobile-form-fields': (isHandset$ | async) || (isTablet$ | async),
      'three-columns': !(isHandset$ | async) && !(isTablet$ | async)
    }"
  >
    <section>
      <mat-form-field>
        <input matInput placeholder="Título do evento" formControlName="title" required />
        <mat-error *ngIf="generalForm.get('title').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field id="description">
        <textarea matInput placeholder="Descrição" formControlName="description" required></textarea>
        <mat-error *ngIf="generalForm.get('description').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="number" min="0" step="0.01" matInput placeholder="Preço" formControlName="price" required />
        <mat-error *ngIf="generalForm.get('price').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input matInput placeholder="Total de vagas" formControlName="maxNumberOfSeats" required type="number" min="0" />
        <mat-error *ngIf="generalForm.get('maxNumberOfSeats').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select required placeholder="Categoria" formControlName="category">
          <mat-option

            *ngFor="let category of categories"
            value="{{ category.id }}"
            >{{ category.title }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="generalForm.get('category').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          required
          multiple
          placeholder="Assuntos"
          formControlName="subjects"
        >
          <mat-option
            *ngFor="let subject of subjects"
            value="{{ subject._id }}"
            >{{ subject.title }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="generalForm.get('subjects').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>
    </section>

    <section>

      <mat-form-field class="additionalHours-form-field">
          <input matInput placeholder="Horas complementares" formControlName="additionalHours" type="text" value="01:00" />
          <mat-checkbox (click)="disableadditionalHours()" >Sem horas complementares</mat-checkbox>
          <mat-error *ngIf="generalForm.get('additionalHours').invalid">{{ getErrorMessage() }}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Link para inscrições" formControlName="subscriptionLink" required />
        <mat-error *ngIf="generalForm.get('subscriptionLink').invalid">{{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="greyish-form-field"
        fxLayoutAlign="center center"
        style="height: 100%;"
      >
        <input
          placeholder="Link da imagem de capa"
          formControlName="headerImage"
          class="ellipsed-input"
          type="text"
          matInput
          required
        />
      </mat-form-field>
    </section>
  </form>
</ng-template>

<!-- Formulário de data e localização do evento -->

<ng-template #dateAndLocationInfo>
  <form [formGroup]="dateAndLocationForm" [ngClass]="{
      'mobile-form-fields': (isHandset$ | async) || (isTablet$ | async)
    }"
  >
      <section
        [ngClass]="{
          'three-columns': !(isHandset$ | async) && !(isTablet$ | async)
        }"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="Logradouro"
            formControlName="street"
            required
          />
          <mat-error *ngIf="dateAndLocationForm.get('street').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Número"
            formControlName="number"
            required
          />
          <mat-error *ngIf="dateAndLocationForm.get('number').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea
            type="text"
            matInput
            placeholder="Complemento"
            formControlName="additionalInfo"
          ></textarea>
          <mat-error
            *ngIf="dateAndLocationForm.get('additionalInfo').invalid"
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>
      </section>

      <section
        [ngClass]="{
          'two-columns': !(isHandset$ | async) && !(isTablet$ | async)
        }"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="CEP"
            formControlName="cep"
            required
            type="number"
          />
          <mat-error *ngIf="dateAndLocationForm.get('cep').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Bairro"
            formControlName="district"
            required
            type="text"
          />
          <mat-error *ngIf="dateAndLocationForm.get('district').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Cidade"
            formControlName="city"
            required
            readonly="true"
            type="text"
          />
          <mat-error *ngIf="dateAndLocationForm.get('city').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Estado"
            formControlName="state"
            required
            readonly="true"
            type="text"
          />
          <mat-error *ngIf="dateAndLocationForm.get('state').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </section>
    <section
      class="date-and-time"
      [ngClass]="{
        'mobile-form-fields': (isHandset$ | async) || (isTablet$ | async)
      }"
    >
      <h2>Data e horário</h2>
      <div id="start" class="date-hour-forms">
        <mat-form-field>
          <input
            #startDatePicker
            readonly
            matInput
            [min]="today"
            [matDatepicker]="startPicker"
            placeholder="Data de início"
            required
            formControlName="startDate"
            (dateChange)="onDateChange($event)"
            (click)="startPickerToggle.datepicker.open()"
          />
          <mat-datepicker-toggle
            #startPickerToggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker [startAt]="today" #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Horário de início" formControlName="startHour" required type="time" />
          <mat-error *ngIf="dateAndLocationForm.get('startDate').invalid">{{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>

      <div id="end" class="date-hour-forms">
        <mat-form-field>
          <input
            matInput
            readonly
            [min]="minDate"
            [matDatepicker]="endPicker"
            placeholder="Data de término"
            required
            formControlName="endDate"
            (click)="endPickerToggle.datepicker.open()"
          />
          <mat-datepicker-toggle
            #endPickerToggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker [startAt]="minDate" #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Horário de término" formControlName="endHour" required type="time" />
          <mat-error *ngIf="dateAndLocationForm.get('endHour').invalid">{{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>

      <h2>Faltou algo? Deixe uma observação.</h2>

      <div class="additional-info">
        <mat-form-field>
          <textarea maxlength="140" matInput placeholder="Observações" formControlName="observation"></textarea>
          <mat-error *ngIf="dateAndLocationForm.get('observation').invalid">{{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>
    </section>
  </form>
</ng-template>

<!---->
<ng-template #success>
  <div class="title-success">
    <h1>Cadastro realizado com sucesso</h1>
    <h4>Seu evento está em analise pela nossa equipe</h4>
  </div>
</ng-template>

<section class="page-main-header">
  <h1>Cadastrar um novo evento</h1>
  <p>
    Coloque seu evento acadêmico na Lunne e expanda seus horizontes. Basta preencher com as informações pedidas e chamar a galera
    para participar!
  </p>
</section>

<mat-vertical-stepper linear="true" #stepper *ngIf="isHandset$ | async">
  <mat-step [stepControl]="generalForm">
    <ng-template matStepLabel>Informações gerais</ng-template>
    <ng-container *ngTemplateOutlet="general"></ng-container>
    <div class="nextPrevButtons">
      <button id="next" mat-raised-button matStepperNext>Avançar</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="dateAndLocationForm">
    <ng-template matStepLabel>Local e local</ng-template>
    <ng-container *ngTemplateOutlet="dateAndLocationInfo"></ng-container>
    <div class="nextPrevButtons">
      <button id="prev" mat-raised-button matStepperPrevious>Voltar</button>
      <button
        id="next"
        (click)="onFormSubmit()"
        mat-raised-button
        matStepperNext
      >
        Cadastrar evento
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Pronto</ng-template>
    <ng-container *ngTemplateOutlet="success"></ng-container>
    <div class="title-success">
        <button routerLink="/">Meus eventos</button>
        <button  >Cadastrar novo evento</button>
      </div>
  </mat-step>
</mat-vertical-stepper>

<mat-horizontal-stepper linear="true" #stepper *ngIf="!(isHandset$ | async)">
  <mat-step [stepControl]="generalForm">
    <ng-template matStepLabel>Informações gerais</ng-template>
    <ng-container *ngTemplateOutlet="general"></ng-container>
    <div class="nextPrevButtons">
      <button id="next" mat-raised-button matStepperNext>Avançar</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="dateAndLocationForm">
    <ng-template matStepLabel>Local e horário</ng-template>
    <ng-container *ngTemplateOutlet="dateAndLocationInfo"></ng-container>
    <div class="nextPrevButtons">
      <button id="prev" mat-raised-button matStepperPrevious>Voltar</button>
      <button
        id="next"
        (click)="onFormSubmit()"
        mat-raised-button
        matStepperNext
      >
        Cadastrar evento
      </button>
    </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Pronto</ng-template>
      <ng-container *ngTemplateOutlet="success"></ng-container>
      <div class="title-success">
          <button id="prev" mat-raised-button routerLink="/meus-eventos">Meus eventos</button>
          <button id="next" mat-raised-button (click)="stepper.reset()">Cadastrar novo evento</button>
        </div>
    </mat-step>
<!--
  <mat-step>
    <ng-template matStepLabel>Pronto</ng-template>
    <ng-container *ngTemplateOutlet="success"></ng-container>
  </mat-step> -->
</mat-horizontal-stepper>
